@font-face{
    font-family : "ExtraLight";
    src : url('../fonts/ExtraLight.otf');
}
@font-face{
    font-family : "Didot";
    src : url('../fonts/Didot.ttc');
}
@font-face{
    font-family : "Seravek";
    src : url('../fonts/Seravek.ttc');
}
@font-face{
    font-family : "Miso";
    src : url('../fonts/Miso.ttf');
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
a{
            color:black;
            text-decoration: none;
        }
a:visited{
        text-decoration: none;
        color: black;
        }
    header{
        background-color: white;
        max-height: 10vh;
        min-height: 10vh;
        width: 100vw;
        position: fixed;
        z-index: 3;
    }
        header>a{
            height: 10vh;
            margin: 0.3% 0 0 3%;
        }
        header>a img{
            height: 9vh;
        }
        header>nav{
            float: right;
            display: inline-block;
            line-height: 10vh;
            padding-right: 5vw;
        }
        header>nav a{
            text-transform: uppercase;
            text-decoration: none;
            font-size: 2vh;
            margin-left: 1vw;
            color:#6e7f89;
        }
        header>nav a:visited{
        text-decoration: none;
        color: #6e7f89;
        }
    .popImages{
        display: none;
        margin-top: 10vh;
        height: 90vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 2;
        text-align: center;
    }
        .popImages>div{
            position: relative;
            top:12.5%;
            background-color: white;
            width: 60vw;
            margin: 0 auto;
        }
        .popImages img{
            max-height: 60vh;
            max-width: 60vw;

       
        }
    .index{
        text-align: center;
        color: white;
        height: 90vh;
        background-image: url(../images/background.jpg);
        background-size: 100vw 90vh;
        line-height: 80vh;
    }
        .index>div{
            vertical-align:middle;
            display:inline-block;
            line-height:1.2;
            text-align:center; 
        }
            .index>div h1{
                font-size: 5vh;
                font-family: Seravek;
                font-weight: 100;
            }
            .index>div h2{
                font-size: 4vh;
                font-family: Didot;
                color: white;
            }
    .aPropos{
        padding-top: 10vh;
        height: 90vh;
        text-align: center;
    }
        .aPropos>h1{
            margin-bottom: 5vh;
            font-size: 4vh;
            font-family: Didot;
            text-transform: uppercase;
        }
        .aPropos>p{
            width: 80vw;
            margin: 0 auto 0 auto;
            font-size: 2.5vh;
            font-family: Seravek;
            color: #6e7f89;
        }
    .projets{
        padding-top: 10vh;
        text-align: center;
    }
        .projets>h1{
            font-size: 4vh;
            padding: 5vh 5vw 5vh 5vw;
            font-family: Didot;
            text-transform: uppercase;
        }
        .projets>div{
            background-repeat: no-repeat;
            margin: 3vh auto 3vh auto;
            width: 70vw;
            height: 20vh;
            background-color: grey;
            padding-top: 30vh;
            font-size: 5vh;
            text-transform: uppercase;
            font-family: Miso;
            color: white;
            background-size: 100% 100%;
        }
            .photography{
                background-image: url(../images/photography.jpg);
            }
            .photoshop{
                background-image: url(../images/photoshop.jpg);
            }
            .illustrator{
                background-image: url(../images/illustrator.jpg);   
                         }
    .contact{
        padding-top: 10vh;
        text-align: center;
    }
        .contact>h1{
            font-size: 4vh;
            padding: 5vh;
            font-family: Didot;
            text-transform: uppercase;
        }
        .contact>form{
            height: 60vh;
            width: 67vw;
            border: 0.4vh dotted black;
            text-align: left;
            margin: 0 auto 0 auto;
            padding-top: 7vh;
            padding-left: 3vw;
            background-color: #efeff4;
            text-align: center;
        }
            .contact>form input{
                margin : 1vh 0 1vh -25vw;
                height: 5vh;
                width: 40vw;
                border: 1px solid black;
                background-color: #efeff4;
                font-size: 3vh;
                font-family: Didot;
            }
            .contact>form textarea{
                height: 20vh;
                width: 40vw;
                margin:1vh 0 4vh -25vw;
                background-color: #efeff4;
                border: 1px solid black;
                overflow: auto;
                outline: none;
                resize: none;
                font-size: 3vh;
                font-family: Didot;
            }
            .contact input[type=submit]{
                background-color: #efeff4;
                border: 1px solid black;
                margin-bottom: 2vh;
                width: 10vw;
                height: 5vh;
                font-size: 3vh;
                font-family: ExtraLight;
            }
        .contact>table {
            color: black;
            font-family: Seravek;
            margin: 2vh auto;
    }
        .contact>table img{
            height: 4vh;
            margin:0 1vw 0 3vw;
    }
/*.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }*/























